@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 20px;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    font: 16px Verdana, Geneva, Tahoma, sans-serif;
    background: #481248;
}

main {
    flex: 0 1 600px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000071;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

form.flex {
    flex-direction: column;
}

form .input-group.flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input:focus {
    border-color: #481248;
    outline: none;
}

.buttons {
    width: 100%;
}

.btn, [type="button"] {
    transition: background-color 0.3s ease, transform 0.1s ease;
}

form .buttons button[type="button"] {
    background-color: #007BFF;
}

form .btn, 
form .buttons [type="button"] {
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 4px;
}

.btn:hover,
.buttons [type="button"]:hover {
    transform: scale(1.05);
}

.btn:active,
.buttons [type="button"]:active {
    transform: scale(1);
}

.res {
    position: relative;
    height: auto;
    display: none;
    min-height: 60px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid green;
    border-radius: 8px;
}

.res h2 {
    position: absolute;
    top: -12px;
    left: 10px;
    color: green;
    padding: 0 5px;
    font-size: 16px;
    background: #fff;
}

.res [type="button"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    background-color: #f02020;
    border: none;
    border-radius: 4px;
}

.res li {
    list-style-position: inside;
}
