@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 10px;
    font: 16px Verdana, sans-serif;
    background-color: #fa773a;
    perspective: 600px;
}

.processo {
    position: absolute;
    top: 20px;

    padding: 30px 20px;
    color: white;
    background-color: #302f2f;
    border-radius: 8px;
}

.processo .spinner {
    display: block;
    height: 60px;
    width: 60px;
    margin: 15px auto 0 auto;
    border: 4px solid #fa773a;
    border-left-color: transparent;
    border-radius: 50%;
    transition: opacity .4s ease;
    animation: spinner .5s infinite linear;
}

.oculto {
    opacity: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 20px repeat(8, 1fr) 20px;
    
    flex: 0 1 800px;
    transform: rotateX(20deg);
    transform-style: preserve-3d;
    transform-origin: bottom;
    border: 2px solid #000;
}

.item {
    padding: 0 8px;
}

.bl {
    color: #fff;
    background-color: black;
}

.wh {
    color: #000;
    background-color: #fff;
}

.num-reverse span {
    transform: rotate(180deg);
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
